<?xml version="1.0" encoding="UTF-8" ?>

<configuration scan="true" scanPeriod="60 seconds" debug="true">

        <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
                <layout class="ch.qos.logback.classic.PatternLayout">
                        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{40} - %msg%n</pattern>
                </layout>
        </appender>

        <appender name="logfile"
                class="ch.qos.logback.core.rolling.RollingFileAppender">
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                        <fileNamePattern>/tmp/log/spring-cloud-store-service-%d{yyyy-MM-dd}.log
                        </fileNamePattern>
                        <maxHistory>30</maxHistory>
                </rollingPolicy>
                <triggeringPolicy
                        class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                        <maxFileSize>200MB</maxFileSize>
                </triggeringPolicy>
                <encoder>
                        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{40} - %msg%n</pattern>
                </encoder>
        </appender>

        <root level="INFO">
                <appender-ref ref="logfile" />
                <appender-ref ref="stdout" />
        </root>
</configuration>
